footer {
  margin-left: -2.5%;
  width: 102vw;
  background: #484848;
  padding-top: 3%;
  padding-bottom: 3%;
}
.social {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1;
  grid-column-gap: 1%;
  justify-items: stretch;
  align-items: stretch;
}
i {
	color: white;
	width: 5vw;
	height: 4vw;
	border-radius: 25px;
	font-size: 3.5vw;
  letter-spacing: .2em;
}
span:nth-child(1) {
  grid-row: 1;
  grid-column: 2;
}
span:nth-child(2) {
  grid-row: 1;
  grid-column: 3;
}
span:nth-child(3) {
  grid-row: 1;
  grid-column: 4;
}
span:nth-child(4) {
  grid-row: 1;
  grid-column: 5;
}
