/*header {
  display: block;
  width: 100%;
  padding: 2vw 0 2vw 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}*/
body {
  font-family: 'Play', sans-serif;
  font-family: 'Rokkitt', serif;
  padding-right: 2%;
  padding-left: 2%;
}
h1 {
  font-size: 2.5em;
  grid-column: 1;
}
/*ul {
  margin: 0;
  padding: 0;
  text-align: right;
  grid-column: 3;
}*/
i {
	color: white;
	width: 5vw;
	height: 4vw;
	border-radius: 25px;
	font-size: 3.5vw;
  letter-spacing: .2em;
}
