/*@-ms-viewport{
  width: device-width;
}*/
body {
  position: relative;
  font-family: 'Rokkitt', serif;
  padding-right: 2%;
  padding-left: 2%;
  font-size: 1.2em;
  overflow-x: hidden;
}
html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
h1 {
  font-size: 2em;
  display: inline-block;
  font-weight: bold;
}
p {
  line-height: .75em;
  font-size: 1.25em;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: auto;
  margin: 1%;
}
