@media only screen and (max-width: 900px) {
  h1 {
    width: 100vw;
  }
  h2 {
    float: left;
    width: 100vw;
    margin-left: 1%;
  }
  ul {
    float: left;
    width: 100vw;
  }
  section#middle {
    /*column-count: 1;*/
    top: auto;
    width: 100vw;
    position: relative;
  }
  img {
    height: 33vw;
    width: auto;
  }
  li {
    margin-right: 15px;
  }
}
