.projects {
  margin-bottom: 2em;
}
#projects {
  padding-left: 1em;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: repeat(21, 10%);
  grid-column-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
}
.img {
  width: 60%;
  padding: 5% 0;
  margin-left: 10%;
}
img {
  max-width: 100%;
}
.title {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  margin-left: 1em;
}
.blurb {
  line-height: 1.5em;
  font-size: 1.2em;
  padding-left: 1%;
  width: 100%;
}
.techtext {
  width: 100%;
  margin: 3px 0 3px 0;
  margin: .5vw 0 .5vw 0;
}
.techtext span {
  margin-left: .5vw;
  padding: .25vw .5vw .25vw .5vw;
  border-color: blue;
  display: inline-block;
  border: 1px solid Gray;
  border-radius: 5px;
  font-size: 1rem;
}
#projects-title {
  padding-left: 3vw;
  margin: 3vh 30vw;
}
/*ways-to-go*/
#ways .title {
  grid-column: 1;
  grid-row: 3;
}
#ways .img {
  grid-column: 1;
  grid-row: 4 / 8;
}
#ways img {
  -webkit-clip-path: polygon(51% 25%, 99% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  clip-path: polygon(51% 25%, 99% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}
#ways .blurb {
  grid-column: 1;
  grid-row: 9 / 10;
}
#ways .techtext {
  grid-column: 1;
  grid-row: 11;
}
/*grab-n-go*/
#grab .title {
  grid-column: 2;
  grid-row: 3;
}
#grab .img {
  grid-column: 2;
  grid-row: 4 / 8;
}
#grab img {
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
#grab .blurb {
  grid-column: 2;
  grid-row: 9 / 10;
}
#grab .techtext {
  grid-column: 2;
  grid-row: 11;
}
/*ng-adventure*/
#ng .title {
  grid-column: 1;
  grid-row: 12;
}
#ng .img {
  grid-column: 1;
  grid-row: 14 / 18;
}
#ng img {
  -webkit-clip-path: polygon(50% 0%, 78% 0, 100% 48%, 78% 100%, 0 100%, 23% 51%, 0 0);
  clip-path: polygon(50% 0%, 78% 0, 100% 48%, 78% 100%, 0 100%, 23% 51%, 0 0);
}
#ng .blurb {
  grid-column: 1;
  grid-row: 19 / 20;
}
#ng .techtext {
  grid-column: 1;
  grid-row: 21;
}
/*bitmap*/
#bitmap .title {
  grid-column: 2;
  grid-row: 12;
}
#bitmap .img {
  grid-column: 2;
  grid-row: 14 / 18;
}
#bitmap img {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 100%, 52% 80%, 0 100%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 100%, 52% 80%, 0 100%, 0 25%);
}
#bitmap .blurb {
  grid-column: 2;
  grid-row: 19 / 20;
}
#bitmap .techtext {
  grid-column: 2;
  grid-row: 21;
}
