#projects {
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: repeat(21, 10%);
  grid-column-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
}
@media only screen and (max-width : 420px) {
  .lrgNg {
    display: none;
  }
}
@media only screen and (min-width : 421px) {
  .smNg {
    display: none;
  }
}
.img {
  width: 60%;
  padding: 5% 0;
  margin-left: 10%;
}
img {
  max-width: 100%;
}
.title {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  margin-left: .25em;
}
.blurb {
  line-height: 1.5em;
  font-size: 1.1em;
  text-overflow: ellipsis;
  overflow: hidden;

}
.techtext {
  width: 100%;
  padding-right: 1em;
  margin: 3px 0 3px 0;
  margin: .5vw 0 .5vw 0;
}
.techtext span {
  margin-left: .5vw;
  padding: .25vw .5vw .25vw .5vw;
  border-color: blue;
  display: inline-block;
  border: 1px solid Gray;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 5%;
}
.new-title {
  margin-top: 5vh;
  border-top: 2px dotted grey;
  border-bottom: 1.5px dotted grey;
  padding: 1vh 0;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-column-gap: 1%;
}
#projects-title {
  display: none;
}
#csv .techtext, #ways .techtext, #grab .techtext, #ng .techtext, #bitmap .techtext {
  margin-bottom: 1em;
}
