.projects {
  margin-bottom: 2em;
}
section:nth-child(2) {
  padding-left: 1em;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: repeat(20, 10%);
  grid-column-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
}
.img {
  width: 60%;
  padding: 5% 0;
}
img {
  max-width: 100%;
}
.title {
  font-weight: bold;
  text-align: center;
  font-size: 3vw;
  margin-left: 1em;
}
.blurb {
  line-height: 1.5em;
  padding-left: 1%;
  width: 100%;
}
.techtext {
  width: 100%;
  margin: 3px 0 3px 0;
  margin: .5vw 0 .5vw 0;
}
.techtext span {
  margin-left: .5vw;
  padding: 0 .5vw 0 .5vw;
  border-color: blue;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
}
/*ways-to-go*/
.projects:nth-child(1) .title {
  grid-column: 1;
  grid-row: 1;
}
.projects:nth-child(1) .img {
  grid-column: 1;
  grid-row: 3 / 7;
}
.projects:nth-child(1) img {
  -webkit-clip-path: polygon(51% 25%, 99% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  clip-path: polygon(51% 25%, 99% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}
.projects:nth-child(1) .blurb {
  grid-column: 1;
  grid-row: 8 / 9;
}
.projects:nth-child(1) .techtext {
  grid-column: 1;
  grid-row: 10;
}
/*grab-n-go*/
.projects:nth-child(2) .title {
  grid-column: 2;
  grid-row: 1;
}
.projects:nth-child(2) .img {
  grid-column: 2;
  grid-row: 3 / 7;
}
.projects:nth-child(2) img {
  -webkit-clip-path: polygon(50% 0%, 78% 0, 100% 48%, 78% 100%, 0 100%, 23% 51%, 0 0);
  clip-path: polygon(50% 0%, 78% 0, 100% 48%, 78% 100%, 0 100%, 23% 51%, 0 0);
}
.projects:nth-child(2) .blurb {
  grid-column: 2;
  grid-row: 8 / 9;
}
.projects:nth-child(2) .techtext {
  grid-column: 2;
  grid-row: 10;
}
/*ng-adventure*/
.projects:nth-child(3) .title {
  grid-column: 1;
  grid-row: 11;
}
.projects:nth-child(3) .img {
  grid-column: 1;
  grid-row: 13 / 17;
}
.projects:nth-child(3) img {
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.projects:nth-child(3) .blurb {
  grid-column: 1;
  grid-row: 18 / 19;
}
.projects:nth-child(3) .techtext {
  grid-column: 1;
  grid-row: 20;
}
/*bitmap*/
.projects:nth-child(4) .title {
  grid-column: 2;
  grid-row: 11;
}
.projects:nth-child(4) .img {
  grid-column: 2;
  grid-row: 13 / 17;
}
.projects:nth-child(4) img {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 100%, 52% 80%, 0 100%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 100%, 52% 80%, 0 100%, 0 25%);
}
.projects:nth-child(4) .blurb {
  grid-column: 2;
  grid-row: 18 / 19;
}
.projects:nth-child(4) .techtext {
  grid-column: 2;
  grid-row: 20;
}
