@media only screen and (max-width: 650px) {
  header h1 {
    display: inline-block;
    width: 100%;
    font-size: 8vw;
    margin-left: 2.5vw;
  }
  header ul {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  header ul li {
    margin: 3vw 9vw 3vw 8vw;
    font-size: 5vw;
  }
  header i {
    margin: 3% 2% 0 1%;
  }
  .projects {
    width: 96%;
  }

  /*projects*/

  #ways {
    content: url('/img/ways2go-sm.jpg');
  }
  #grab {
    content: url('/img/grabngo-sm.jpg');
  }
  #bitmap {
    content: url('/img/bitmap-sm.jpg');
  }
  #ng {
    content: url('/img/ngadventure-sm.jpg');
  }
}
