#summary {
  padding: 2%;
  background: #484848;
  color: white;
  text-align: left;
  margin: 0 2%;
}
.summary-point {
  font-family: 'Rokkitt', serif;
  line-height: 1.5em;
  font-size: 1.2em;
  margin-top: 1.5%
}
.summary-point:first-child {
  margin-top: 0;
}
.green {
  color: #32c14a;
}
.orange {
  color: orange;
}
.blue {
  color: #7087e5;
}
.red {
  color: #fc5e53;
}
