.summary {
  display: grid;
  width: 100vw;
  margin-left: -3%;
  height: 100vh;
  padding-left: 3%;
  background-color: #010011;
  color: white;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);

}
.hello-text {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}
.summary p {
  font-size: 1.5em;
  width: 50em;
  line-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  animation: type 5s steps(40, end);
}
.summary p:nth-child(1) {
  opacity:0;
  animation: type2 5s steps(40, end);
  animation-fill-mode: forwards;
}
.summary p:nth-child(2) {
  opacity:0;
  animation: type3 5s steps(40, end);
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
/* The typing effect */
@keyframes type{
  from { width: 0; }
}
@keyframes type2{
  0% {width: 0;}
  from {opacity:0;}
  1% {opacity:1;}
  to {opacity:1;}
  100% {opacity:1;}
}
@keyframes type3{
  0%{width: 0;}
  from {opacity:0;}
  1%{opacity:1;}
  to{opacity:1;}
  100%{opacity:1;}
  overflow: auto;
}
